<html>
	<head>
		<title>Sharing Geo</title>
		<script src='/socket.io/socket.io.js'></script>
		<script src='/public/js/jquery.js'></script>
		<script>
		$(document).ready(function(){
			function insertData(data){
				$("#messages").append("<p>" + data + "</p>");
			}
			var server = io.connect("http://localhost:8888/2")
			server.on('messages',function(data){
				insertData(data);
			});
			$('#chat_form').submit(function(e){
				e.preventDefault();
				server.emit('messages',$("#chat_input").val());
			});
		});
		</script>
	</head>
	<boby>
		<p>Messages:</p>
		<div id='messages'></div>
		<form id="chat_form">
			<textarea id="chat_input"></textarea>
			<input type='submit' value='send'/>
		</form>
	</body>
</html>